body {
    background-color: #ededed;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

h1 {
    color: #424242;
    text-align: left;
    margin: 50px;
    font-family: "georgia", georgia, monospace;
    font-size: 0.95em;
    font-weight:lighter;
    width: 375px;
}

p {
    font-family: helvetica;
    font-size: 20px;
}
